<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Order details</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/css/shopProducts.css}">
    <link rel="stylesheet" th:href="@{/css/userViewOrders.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
</head>
<body class="d-flex flex-column bg-light">
<div id="navbar-placeholder"></div>
<script>
    $(document).ready(function(){
        $("#navbar-placeholder").load("/shared/navbarAdmin.html");
    });
</script>
<section class="py-5 bg-light">
    <div class="container mt-5">
        <h2>All Orders</h2>
        <div class="container mt-5">
            <form th:action="@{/webShop/admin/order/orderByUsernameAndDates}" method="get" class="row g-3">
                <div class="col-md-3">
                    <label for="username" class="form-label">Username:</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="Enter username" required>
                </div>
                <div class="col-md-3">
                    <label for="startDate" class="form-label">Start Date:</label>
                    <input type="date" id="startDate" name="startDate" class="form-control" required>
                </div>
                <div class="col-md-3">
                    <label for="endDate" class="form-label">End Date:</label>
                    <input type="date" id="endDate" name="endDate" class="form-control" required>
                </div>
                <div class="col-md-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary">Search Orders</button>
                </div>
            </form>
        </div>
        <br>
        <br>
        <div th:each="userOrder : ${userOrders}">
            <div class="card mb-3">
                <div class="card-header order-header">
                    <h5>Order #<span th:text="${userOrder.order.orderId}"></span></h5>
                    <p>Username: <span th:text="${userOrder.order.username}"></span></p>
                    <p>Date: <span th:text="${userOrder.order.purchaseDate}"></span></p>
                    <p>Total Amount: <span th:text="${userOrder.order.totalAmount}"></span> USD</p>
                    <p>Payment Method: <span th:text="${userOrder.order.paymentMethod}"></span></p>
                </div>
                <div class="card-body order-body">
                    <h6 class="card-title">Order Items</h6>
                    <div th:each="orderItem : ${userOrder.orderItems}">
                        <div class="order-item">
                            <p>Product: <span th:text="${orderItem.productName}"></span></p>
                            <p>Quantity: <span th:text="${orderItem.quantity}"></span></p>
                            <p>Price per item: <span th:text="${orderItem.productPrice}"></span> USD</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 custom-gradient mt-auto">
    <div class="container"><p class="m-0 text-center text-white">avuksan &copy; JWP 2024</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
</body>
</html>
